version: "2"
services:
  mysql:
    build: .
    ports:
      - "3306:3306"
    networks:
      - default
      - adminer_net


networks:
  adminer_net:
    external: true
    name: cve-2021-43008_default